<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <form method="POST" action="/" id="calculator">
      <%= csrf_token_field %>
      <label>Operando 1</label>
      <input id="operand1" type="text" name="operand1">
      <label>Operando 2</label>
      <input id="operand2" type="text" name="operand2">
      <label>Operacion:</label>
      <select id="operation" name="operation">
        <option value="plus">plus</option>
        <option value="subtraction">subtraction</option>
        <option value="average">average</option>
      </select>
      <input type="submit" value="Enviar" id="submit"/>
    </form>
    <form method="POST" action="/reset-operations" id="reset">
      <%= csrf_token_field %>
      <input type="submit" value="Resetear operaciones" id="reset_operations"/>
    </form>
    <div id="resultado">Resultado: <%= @resultado %></div>
    <div id="operations">Cantidad de operaciones: <%= @operations %></div>
  <body>
</html>
